7zip
acpi
acpid
alsa-pipewire
alsa-utils
aria2
asciidoc
autofs
avahi
bandwhich
base-devel
base-files
bat
bind-utils
bluez
btop
chezmoi
chrony
clang-analyzer
cmake
coreutils
curl
curlpp
dash
dcron
delta
diffutils
dosfstools
dracut
dust
e2fsprogs
easyeffects
efibootmgr
ethtool
eudev
exa
exiftool
fd
ffmpeg
file
findutils
fio
firefox
fish-shell
fontforge
gawk
gdb
git
github-cli
glibc-locales
glxinfo
gnupg
go
grep
gzip
helvum
hexyl
hsetroot
htop
iana-etc
icu
ifuse
igt-gpu-tools
imv
intel-ucode
iperf3
iproute2
iputils
iwd
kbd
keepassxc
kitty
kmod
less
lf
libgcc
libspa-bluetooth
libstdc++
libva-utils
libX11-devel
libXft-devel
libXinerama-devel
linux-firmware-intel
lm_sensors
lsof
lua
lua-language-server
LuaJIT
luarocks
maim
man-db
man-pages
man-pages-posix
mdocml
metalog
miniserve
mit-krb5
mpv
msr-tools
n
ncspot
neofetch
neovim
net-tools
ninja
nss
nss-mdns
opendoas
openresolv
openssh
openssl
pandoc
pciutils
picom
pipewire
playerctl
postfix
postgresql
procps-ng
protonvpn-cli
pulseaudio-utils
pv
python
python3
python3-pip
python-pip
removed-packages
ripgrep
rsync
rtorrent
runit-nftables
runit-void
rustup
sd
sed
shadow
shellcheck
smartmontools
socat
stress
sxhkd
syncplay
sysstat
tar
tlp
tmux
tokei
traceroute
tzdata
unrar
usbutils
util-linux
vdpauinfo
void-repo-nonfree
weechat
weechat-python
wget
which
xbps
xclip
xdg-utils
xdpyinfo
xdriinfo
xev
xf86-video-intel
xorg-minimal
xorg-server-xephyr
xrandr
xrdb
xsel
xsettingsd
zellij
zip
zlib
zoxide
zsh
{{- if eq .chezmoi.hostname "mac" }}
dkms
libva-intel-driver
linux-firmware-amd
linux-firmware-broadcom
mbpfan
mdadm
mergerfs
mesa-demos
mesa-vaapi
mesa-vdpau
qbittorrent-nox
qt5-qmake
uacme
xf86-video-amdgpu
xfconf
{{- else if eq .chezmoi.hostname "msi" }}
intel-media-driver
openjdk17-jre
{{- end }}
